<div id="profile">
    <a href="#" class="dropdown-toggle " data-toggle="dropdown" aria-expanded="true">User<span class="glyphicon glyphicon-user"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li class=""><a class="">Account<span class="glyphicon glyphicon-file"></span></a></li>
        @{using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken();

                <li class=""><a href="javascript:document.getElementById('logoutForm').submit()">Logout<span class="glyphicon glyphicon-off"></span></a></li>
            }
        }        
    </ul>
</div>
<script>

</script>