
@{
    ViewBag.Title = "VenueBookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../VenueMenu">Building & Venue Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">Venue Bookings</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
@{Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);}
<div id="table_background">
    <h2>Venue Bookings</h2>
    <div id="calendar"></div>
    <div class="well">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                @using (Html.BeginForm("Index", "SelectVenue", FormMethod.Get, new { @class = "form-inline justify-content-center" }))
                {
                    <button class="btn btn-success center-block" type="submit">
                        Add Booking
                    </button>
                }
            </div>
        </div>
    </div>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "VenueMenu")'">Back</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<style>
    form {
        display: table;
        height: 100%;
        width: 100%;
    }

    .center-block {
        float: none;
    }

    .table-heading {
        color: #0AA633;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    #addButton {
        position: relative;
        display: table;
        margin-left: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }

    #vehiclesTable {
        font-size: 15px;
    }

    h2 {
        text-align: center;
    }

    #calendar {
        background: white;
        border: 10px solid white;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: lightgrey !important;
    }
</style>
<script>
    $(document).ready(function () {
        var events = [];
        var businessHours = [];
        var selectedEvent = null;
        var eventStart = "";

        $.ajax({
            type: "GET",
            url: "/VenueBookings/GetEvents",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.Venue,
                        people: v.People,
                        start: moment(v.DateBooked + " " + moment(v.StartTime).format("HH:mm:ss")).format("MM/DD/YYYY HH:mm:ss"),
                        end: moment(v.DateBooked + " " + moment(v.EndTime).format("HH:mm:ss")).format("MM/DD/YYYY HH:mm:ss"),
                        username: v.UserName,
                        venue: v.Venue,
                        building: v.Building,
                        projectname: v.ProjectName,
                        //color: blue,
                        allDay: false
                    });
                })

                $.ajax({
                    type: "GET",
                    url: "/VenueBookings/GetScheduleEvents",
                    success: function (scheduleData) {
                        $.each(scheduleData, function (i, v) {
                            businessHours.push({
                                start: v.start,
                                end: v.end,
                                overlap: false,
                                dow: [v.dow]
                            });
                        })

                        GenerateCalender(events, businessHours);
                    }
                })
            },
            error: function (error) {
                console.log(error);
                alert('failed');
            }
        })

        function GenerateCalender(events, businessHours) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap4',
                allDaySlot: false,
                businessHours: businessHours,
                contentHeight: 400,
                defaultDate: new Date(),
                defaultTimedEventDuration: '01:00:00',
                defaultView: 'agendaWeek',
                displayEventTime: false,
                displayEventEnd: false,
                editable: false,
                eventLimit: true,
                eventColor: '#007fff',
                eventConstraint: 'businessHours',
                eventOverlap: false,
                events: events,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                slotDuration: '01:00:00',
                slotEventOverlap: false,
                selectConstraint: 'businessHours',
                selectable: true,
                timeFormat: 'h(:mm)a',
                eventClick: function (calEvent, jsEvent, view) {
                    //added in code for CRUDS
                    selectedEvent = calEvent;
                    //////////////////////////
                    $('#myModal #eventTitle').text("Booking location: " + calEvent.venue + ", " + calEvent.building);
                    var $description = $('<div/>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Date Booked for:</b></p> <p style="display: inline; font-weight:550">' + moment(calEvent.datebooked).format("Do MMMM YYYY") + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Start:</b></p> <p style="display: inline; font-weight:550">' + calEvent.start.format("hh:mma") + '</p><br>');
                    if (calEvent.end != null) {
                        $description.append('<p style="display: inline; font-weight:bold"><b>End:</b></p> <p style="display: inline; font-weight:550">' + calEvent.end.format("hh:mma") + '</p><br>');
                    }
                    $description.append('<p style="display: inline; font-weight:bold"><b>Number of people attending:</b></p> <p style="display: inline; font-weight:550">' + calEvent.people + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Host of Booking:</b></p> <p style="display: inline; font-weight:550">' + calEvent.username + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Booking is for Project:</b></p> <p style="display: inline; font-weight:550">' + calEvent.projectname + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Booking location:</b></p> <p style="display: inline; font-weight:550">' + calEvent.venue + ", " + calEvent.building + '</p><br>');
                    $('#myModal #pDetails').empty().html($description);

                    $("#myModal").appendTo("body").modal('show');
                },
                eventRender: function (event, element) {
                    //$(element).tooltip({ title: event.title });
                    element.popover({
                        title: event.title,
                        html: true,
                        content: event.start.format("Do MMMM YYYY") + "<br />" + event.start.format("H:mma") + "-" + event.end.format("H:mma"),
                        trigger: 'hover',
                        placement: 'top',
                        container: 'body'
                    });
                }
            })
        }
    })
</script>