@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../DonationsMenu">Donation Menu</a></li>
        <li class="breadcrumb-item"><a href="../Donation">Donations</a></li>
        <li class="breadcrumb-item"><a href="../SelectProjectForDonation">Select Project</a></li>
        <li class="breadcrumb-item active" aria-current="page">Select Donation Items</li>
    </ol>
</nav>

@Html.Partial("_ProfilePartial")

<div id="table_background">
    <p>Select Donation Items you wish to Assign</p>
    <table id="table_id" class="display" width="100%"></table>
    <div id="addButton">Add Selected to Project</div>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "SelectProjectForDonation")'">Back</div>
</div>
<style>
    #table_background p {
        font-size: 25px;
        text-align: center;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    #equipmentTable {
        background-color: #5a9ad6;
    }

    #addButton {
        position: relative;
        display: table;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script>
    var table;
    $(document).ready(function () {
        table = $('#table_id').DataTable({
            serverSide: true,
            ajax: "/SelectDonation/PageData",
            autoWidth: true,
            scrollX: true,
            columns: [
                {
                    name: 'donationID',
                    data: 'donationID',
                    title: "ID",
                    visible: false
                },
                {
                    name: 'lineID',
                    data: 'lineID',
                    title: "ID",
                    visible: false
                },
                {
                    name: 'description',
                    data: 'description',
                    title: "Donation Description",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'itemName',
                    data: "itemName",
                    title: "Item Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'donationAmount',
                    data: "donationAmount",
                    title: "Donation Amount",
                    sortable: true,
                    searchable: true
                }
            ]
        });

        $('#table_id tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

        $('#addButton').click(function () {
            swal({
                title: "Are you sure you want to assign these items to the selected Project?",
                icon: "warning",
                dangerMode: true,
                buttons: [
                    true,
                    "Yes",
                ],
                closeOnClickOutside: false,
            }).then(() => {
                var data = table.rows('.selected').data();
                var url;

                for (var i = 0; i < data.length; i++) {
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("Assign", "SelectDonation")',
                        type: 'POST',
                        data: JSON.stringify(data[i]),
                        dataType: 'json',
                        success: function (data) {
                            url = data.Url;
                        }
                    });
                }

                swal("You have successfully assigned the items to the Project", {
                    icon: "success",
                }).then(() => {
                    window.location.href = url;
                });
            });
        })
    })
</script>
